<table id="tablaEliminados" class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for rol in roles_eliminados %}
        <tr>
            <td>{{ rol.nombre_rol }}</td>
            <td>{{ rol.descripcion_rol }}</td>
            <td>
                <button class="btn btn-success btn-sm js-recuperar-rol" data-url="{% url 'recuperar_rol' rol.id_rol %}">Recuperar</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
