<table id="tablaDisponibles" class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for rol in roles_disponibles %}
        <tr>
            <td>{{ rol.nombre_rol }}</td>
            <td>{{ rol.descripcion_rol }}</td>
            <td>
                <button class="btn btn-primary btn-sm js-modificar-rol" data-url="{% url 'modificar_rol' rol.id_rol %}">Editar</button>
                <button class="btn btn-danger btn-sm js-eliminar-rol" data-url="{% url 'eliminar_rol' rol.id_rol %}">Eliminar</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
