/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1rem;
    background-color: #b1bdc9; /* bg-light */
    height: 100vh;
    width: 240px;
}

/* Logo centrado */
.sidebar-logo {
    text-align: center;
    margin-bottom: 1rem;
}

.sidebar-logo img {
    max-height: 120px;
    width: auto;
}

/* Menú vertical */
.sidebar-menu {
    flex-grow: 1;
    margin-bottom: auto;
}

/* Estilo para el item activo */
.sidebar-menu .nav-link.active {
    background-color: #3862a1;
    color: white;
    border-radius: 4px;
}

.sidebar-menu .nav-link:hover {
    background-color: #9c6161; /* efecto hover */
    color: white;
    border-radius: 4px;
}

/* Botón al final */
.sidebar-btn {
    width: 100%;
    margin-top: auto;
}

.nav-link {
    color:black;
}
